.MidBody {
    width: 100%;
    height: 1000px;
    background-color: rgba(221, 204, 171, 0.582);

    
}

.Body {
  
    background-color: rgba(221, 204, 171, 0.582);
    width: 62%;
    height: 800px;
    margin-left: 19%;
   
    

}



