.Nv-body {
    display: flex;
    background-color: rgba(221, 204, 171, 0.582);
    height: 70px;
    width: 100%;
    justify-content:flex-start;

}

#NavbarA{
    
    color: rgba(58, 55, 51, 0.507);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration:solid;
    
    
   
}

#Nv-links {
    margin-top: 15px;
}

.BGhead {
    width: 100%;
    height: 100%;
    background-color: rgba(221, 204, 171, 0.582);
}
